/* General ----------------------------------------------------------------------------------------------------------------------------------------*/
@font-face {
	font-family: Noto Sans;
	src: url(./resources/Noto_Sans/NotoSans-Regular.ttf);
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans", sans-serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: -0.01rem;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body > section {
	max-width: 80%;
	min-height: 100vh;
}

h1 {
	font-size: 6rem;
	font-weight: normal;
}

h2 {
	font-size: 3rem;
	font-weight: normal;
}

h3 {
	font-size: 2.5rem;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #0088FF;
}

details {
	display: inline;
}

details summary { 
	cursor: pointer;
	color: #0088FF;
	list-style: none;
}

details summary::-webkit-details-marker {
	display:none;
}

/* Intro ------------------------------------------------------------------------------------------------------------------------------------------*/
.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.intro h1 {
	margin: 0;
}

.avatar {
	margin: 3em;
}

/* Services ---------------------------------------------------------------------------------------------------------------------------------------*/
.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.services > section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.services > section > section {
	width: 48%;
	margin: 2rem 0;
}

.services h2{
	width: 100%;
	padding: 3rem 0;
	text-align: center;
	font-weight: normal;
	background-color: #0088FF;
	color: #ffffff;
}

.services h3 {
	color: #0088FF;
}

.services img {
	width: 100%;
	margin: 1rem 0;
	height: 30em;
	object-fit: cover;
}

.services p {
	font-size: 20px;
	font-weight: 400;
	line-height: 2rem;
}

/* Call to Action ---------------------------------------------------------------------------------------------------------------------------------*/
.ending {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.call-to-action {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-grow: 1;
}

.call-to-action .button {
	background-color: #0088FF;
	color: #ffffff;
	border-radius: 16px;
	padding: 1em 2em;
	font-size: larger;
	text-decoration: none;
}

/* Share ------------------------------------------------------------------------------------------------------------------------------------------*/
.share {
	height: 3em;
}

/* Responsive Design ------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 70rem) {
	.intro h1 {
		font-size: 4em;
	}

	body > section {
		max-width: 90%;
	}

	.services > section {
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	
	}	

	.services > section > section {
		width: 100%;
	}
}

